{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <div>
        <p>
            Welcome to Naija Connect! We're all about bringing Nigerians together, celebrating our diversity, and empowering you to connect and thrive. Join our vibrant community, make posts, network, and discover new opportunities. Explore Nigerian culture through our Cultural Discovery Hub and stay updated with our Cultural Events Calendar. Get ready for exciting updates like live streaming, collaborative storytelling, and more. Let's connect, share, and make a difference together on Naija Connect!
        </p>
    </div>
{% endblock content %}